{% extends "student_base.html" %}


{% block content %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Examination</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "teacher-dashboard" %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Examination</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section">

  
            <div class="card">
              <div class="card-body pt-4">  
                
                <!-- Default Table -->
                <table class="table table-striped table-bordered text-center">
                  <thead >
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">SUBJECT</th>
                      <th scope="col">DATE</th>
                      <th scope="col">TIME</th>
                      <th scope="col">STATUS</th>
                      <th scope="col">ACTIONS</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for exam in exams  %}
                    <tr>
                      <th scope="row">{{exam.id|truncatechars:9}}</th>
                      <td>{{exam.subject}}</td>
                      <td>{{exam.start_date}}:{{exam.end_date}}</td>
                      <td>{{exam.start_time}}:{{exam.end_time}}</td>
                      {% if exam.status == "In Active" %}
                      <td><span class="badge bg-warning text-dark">{{exam.status|upper}}</span></td>
                      {% elif exam.status == "Active"  %}
                      <td><span class="badge bg-success">{{exam.status|upper}}</span></td>
                      {% else %}
                      <td><span class="badge bg-danger">{{exam.status|upper}}</span></td>
                      {% endif %}
                      <td><a href="{% url "update-exam" exam.id %}"><button type="button" class="btn btn-secondary"><i class="bi bi-pen"></i></button></a> <a href="{% url "create-question" exam.id %}"><button type="button" class="btn btn-primary">Question<i class="bi bi-plus"></i></button></a> <a href="{% url "list-question" exam.id %}"><button type="button" class="btn btn-danger"><i class="bi bi-eye"></i></button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            </div>
        </section>
  
</main>

{% endblock content %}